
html,
body {
  width: 100vw;
  width: -webkit-fill-available;
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}

#content {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}
