{% extends "./layouts/default-layout.njk" %}

{% block content %}

  <form action="/search">
    <input type="text" name="keyword" placeholder="输入搜索" />
    <button type="submit">搜索</button>
  </form>

{% endblock %}
